<!-- Name : Saima Rafik Patel
    Student Id: 301248048
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/content/app.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
  </head>
  <body style="background-color:ghostwhite;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-logo" href="#" class="pull-left"><img src="\assets\images\Logos.jpg" width="30", height="40" ></a> 
      <div class="container-fluid">
       <a class="navbar-brand" href="#">Portfolio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div > 
      <h1 style="padding-left: 550px;" ><span style="font-family:'Courier New', Courier, monospace; color:olivedrab"><i>Portfolio Website</i></span></h1>
    </div>
    <div id= "b_design">
    <h3><u>Welcome</u></h3>
    <br>
    <p>Hello, My name is Saima Rafik Patel. I welcome you at my prtofolio website. To know more about me
      <a href ="about" alt ="About Me">Click Here</a> and to contact plese click 
      <a href ="contact" alt ="About Me">#</a>.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium nesciunt eveniet molestiasaspernatur quos tempora, 
       mollitia ut odio atque sunt aut ad neque expedita voluptatum accusamus itaque, iure, aliquam voluptatibus.
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
       magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
       officia deserunt mollit anim id est laborum.

    </p>
    <br><br><br>
    <h3><u>Mission Statement</u></h3>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium nesciunt eveniet molestiasaspernatur quos tempora, 
      mollitia ut odio atque sunt aut ad neque expedita voluptatum accusamus itaque, iure, aliquam voluptatibus.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
      officia deserunt mollit anim id est laborum.

    </p>
    </div>




    <footer style=" padding-left: 10%;position: absolute;left:10px;bottom:10px;">Copyright &copy Saima Rafik Patel(301248048) - Portfolio</footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
